nav {
  display: block;
  background-color: lightblue;
  list-style-type: none;
  text-align: center
}

nav a {
   border-left: 6px doshed teal;
   background-color: lightblue;
}

table{
  border-style: solid;
  border-color: teal;
  background-color: darkseagreen;
}

.flex-container {
  display: flex;
  flex-flow: : row wrap
}
.item-flex{
  background-color: LightSteelBlue;
  width: 30%;
  padding: 3px;
  flex-grow: 1;
  justify-content: center;
  border-style: groove;
  border-color: lightblue;
}

.form-container{

}

.table-container{

}
