body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.content-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.movies-container {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-movie-item {
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
}

.movie-card {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
}

.movie-card header {
  width: 100%;
  background-color: steelblue;
  color: mintcream;
  text-align: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.movie-card h2 {
  margin: 0;
}

.movie-card ul {
  text-align: left;
}

.movie-card li {
  padding: 5px;
  list-style: none;
}

.form-new-movie input, button {
  padding: 5px;
  margin: 10px;
  display: block;
}

.form-new-movie input[type='checkbox'] {
  display: inline;
}