*{
    margin:0;
    padding:0;
    margin: 0 auto;
}

.header, footer, nav, .container{
    display: block;
}

ul li{
    display: inline;
}

.header, footer{
    padding: 11px;
    height: 68px;
    margin: 0 auto;
    background: rgb(3, 52, 73);
    color: white;
    width: auto;
}

nav{
    background: rgb(78, 161, 166);
}

#container{
    background: rgba(208,241,225,1);
    display: inline-flex;
    width: 100%;
    height: 100%;
}

section{
    text-align: center;
    width: 25%;
    height: 100%;
    padding: 1%;
}

aside{
    width: 50%;
    height: 100%;
    padding: 1%;
    margin-left: 1%;
    min-width: 35vw;
    overflow: scroll;
    overflow-y: hidden;
}

.hidden{
    visibility: hidden;
    opacity: 0;
    width: 40%;
    height: 30%;
    padding: 1%;
}


.showme{
    visibility: visible;
    opacity: 1;
    transition: opacity 5s linear;
}

.WarningShowme{
    color: red;
}

#event{
    background-color: rgba(11, 32, 221, 0.582);
    border: none;
    color: white;
    width: auto;
    height: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}