*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{font-size: 100%;}

body *{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  font-size: 1,1em;
  line-height: 1.5;
}

ul li{
  list-style: none;
  margin: 0;
  padding: 0;
}


/* ================================== gallery ======================================== */
.gallery {
     clear: both;
     display: block;
     width: 100%;
     padding: 8px;
}

.gallery .columns {margin-right: 0;}

.one-third {
     box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
     margin: 8px;
     height: auto;
     position: relative;
}

.gallery img {
     width: 100%;
     height: auto;
     position: relative;
}

.gallery a {display: block;}

.screen {
     background-color: rgba(0,0,0,0.5);
  
     border-radius: 0;
     height: 100%;
     width: 100%;
     position: absolute;
     opacity: 0;
     z-index: 1000;
     -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
           -ms-transition: all 0.3s ease-in-out;
             transition: all 0.3s ease-in-out;
}

.screen:hover {opacity: 1}

.screen:hover .title {margin-left: 0;}

.screen.fade-in .title {margin-left: 0;}


/* ================================== gallery ======================================== */

/* ================================== column ======================================== */

.column { margin-bottom: 1.5rem; }

.column {
    float: none;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.two-thirds { width: 100%; }
  .column.third { width: 100%; }

  html{font-size: 80%;}

/* ================================== column ======================================== */
/* ================================== @media ======================================== */

@media (min-width: 25rem) {/*modify according to resolution*/
    .column {
      float: left;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
  
    .column.two-thirds { width: 100%; }
    .column.third { width: 50%; }
}
@media (min-width: 40rem) {/*modify according to resolution*/
    .column {
      float: left;
      margin: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .column.two-thirds { width: 66.7%; }
    .column.third { width: 33.3%; }
}

/* ================================== @media ======================================== */
/* ================================== Clearfix ======================================== */
  
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
     
.clearfix:after { 
    clear: both; 
}

/* ================================== Clearfix ======================================== */



