*{
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}
* #specificity{
  font-size: 14px;
}

body{
  background-color: #FFF8DC;
  padding-right: 1%;
  padding-left: 1%;
}
.container{
  display: flex;
  flex-flow: row;
  background-color: magenta;
  align-items: center;
}

.container nav{
  width: 10%;
  background-color: blue;
}
.container section{
  width: 70%;
  background-color: blue;
}
.container aside{
  width: 20%;
  background-color: blue;
  align-items: center;
}

.header{
  clear: both;
  background-color: magenta;
  color: white;
  text-align: center;
  padding: 11px;
  height: 68px;
  margin: 0 auto;
  font-size: 46px;
}
.footer{
  clear: both;
  background-color: magenta;
  border-bottom: 10px solid #357ae8;
  color: white;
  text-align: center;
  font-size: 10px;
}
.content{
  font-size: 14px;
}
.navigation{
  font-size: 10px;
  background-color: blue;
}
.sidebar{
  font-size: 12px;
  background-color: magenta;
}

.oh-no-inline-styles{
  background: red;
}
section .oh-no-inline-styles{
  background: green;
}

.box-container .footer{
  background-color: #2f2e2e;
  font-size: 46px;
  padding: 11px;
  height: 68px;
  width: 100%;
  margin: 0 auto;
  grid-row: 3/3;
}
.box-container .header{
  background-color: #2f2e2e;
  font-size: 46px;
  grid-column: 1;
  padding: 11px;
  width: 100%;
  height: 68px;
  margin: 0 auto;
}
.box-container .container{
  background-color: #20B2AA;
  font-size: 46px;
}
.box-container .container .item-container{
  background-color: #20B2AA;
  font-size: 46px;
}

.box-container{
  display: grid;
}
